@font-face {
  font-family: 'Tiresias';
  src: url('/public/fonts/Tiresias_Infofont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


.container {
  display:flex;
  background-color: #ffffff;
  color: "#444";
  min-height: 100vh;
  height: 100vh;
  width: 100vw;
}

.remoteContainer {
  padding: 20px;
}

.remoteImage {
  max-width: 94vw;
  max-height: 94vh;
  bottom:0;
  height: auto;
  width: '94vw';
}

.movieImage {
  max-width: 90vw;
  max-height: 94vh;
  border-style: ridge;
  border-width: 20px; 
  border-color: grey;
}